.large-icon {
    color: grey;
  }

  .alert.alert-info {
    background-color: white;
    color: black;
  }

  .alert.alert-info {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(200, 214, 219, 0.4);
  }


  .alert.alert-info i {
    color: grey;
  }