<div class="main-content">
  
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Reps</h4>
                    <p class="card-category"> Here is a list of all reps</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th>Country</th>
                                    
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr> 
                            </thead>
                            <tbody>
                               
                                <tr *ngFor="let item of data">
                                    <td>{{ item?.name}}</td>
                                    <td>{{ item?.resident_country }}</td>
                                    
                                    <td>{{ item?.email}}</td>
                                    <td>{{item?.mobile}}</td>
                                    <td class="text-danger">Verified</td>
                                    <td><button mat-raised-button type="submit" class="btn btn-danger btn-round btn-just-icon">
                                      <i class="material-icons">edit</i>
                                      <div class="ripple-container"></div>
                                  </button></td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div>
    
    
 </div>
</div>
